[submodule "hitobito"]
	path = hitobito
	url = https://github.com/hitobito/hitobito
	branch = feature/pwa-spike
[submodule "hitobito_generic"]
	path = hitobito_generic
	url = https://github.com/hitobito/hitobito_generic
	branch = cvp
